<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="format_sql">true</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:C:\Users\Andrei Bodea\IdeaProjects\management\database.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>

        <mapping class="domain.Conference"/>
        <mapping class="domain.User"/>
        <mapping class="domain.Edition"/>
        <mapping class="domain.Registration"/>
        <mapping class="domain.SessionChair"/>
        <mapping class="domain.Session"/>
        <mapping class="domain.Paper"/>
        <mapping class="domain.Review"/>
        <mapping class="domain.UserPaper"/>
        <mapping class="domain.UserEdition"/>
    </session-factory>
</hibernate-configuration>